<h1>Listing Articles</h1>

<select id="mySel">
  <option>Daily</option>
  <option>Weekly</option>
  <option>Monthly</option>
</select></br></br>

<form>
  <%= select_tag "article", options_from_collection_for_select(@articles, "id", "link") %>
</form>

<% @articles.sort_by{|article| article.rates("link").average(:stars) || 0 }.reverse.each do |article| %>
  <%= link_to article.link, article.link, target: "_blank" %> <%= link_to 'Show', article %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> </br>
  Rating: <%= rating_for article, "link", disable_after_rate: false %>
<% end %>

<%= link_to 'New Article', new_article_path %>
